[Desktop Entry]
Type=Application
Name=Faris Motor
GenericName=Faris Motor
Comment=Launches Faris Motor
Exec=faris-motor
Icon=view-refresh-symbolic
Terminal=true
NoDisplay=false
Categories=Utility;